/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'aos/dist/aos.css';
html {
    overflow-x: hidden !important;
    width: 100%;
    scroll-behavior: smooth;
}

@media (max-width: 767px) {
    html, body {
        overflow-x: hidden !important;
        width: 100%;
    }
}